@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} 

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	background: #f0f0f0;
	zoom: 1;
} 

.animate-top, .animate-left, .animate-right, .start-btn{
	opacity: 0;
}

.quest-num, .quest-text {
	height: 75px;
}

.btn {
	margin: 10px;
	opacity: 0;
}

.result, .btn2, .btn3 {
	display: none;
}